/* Body */
body{
    background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%) !important;
}
/* *** */

/* Boutons */

#goToInscription {
    margin-top: 2em;
}

#btn_login, #btn_inscription{
    background-color: #80af43;
}

.btnSuppRepas{
    position: absolute;
    right: 1em;
    margin: auto;
    align-self: center;
}

.datepicker{
    position: absolute !important;
    top: 17em !important;
    right: 8em !important;
    left: unset !important;
}

.dtDesign{
    margin-top: 2em;
}

/* ****** */

/* Navigation bar top */
.navbarColor{
   background-color: #4380af;
   height: 4em;
}

.navbar-brand{
    line-height: 4em;
}

.navbar-brand img{
    vertical-align: middle;
    margin-left: 5%;
}

/* #footerImg{
    width: 100%;
    height: 25em;
    bottom: 0;
    position: absolute;
} */
/* ***************** */


/*  Connexion et Inscription */
.connexion-container,.inscription-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    padding: 5%;
}

.greenFont{
    color: #608038 !important;
}

.error{
    top: 1em;
}
/* ************************ */

/* Annimation checkbox Ajout repas */
@keyframes click-wave {
    0% {
        height: 20px;
        width: 20px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
    }
}
  
.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 6,6666665px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 20px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
}
.option-input:hover {
    background: #9faab7;
}

.option-input:checked {
    background: #00c292;
}
.option-input:checked::before {
    height: 20px;
    width: 20px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 20px;
}
.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #40e0d0;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}
.option-input.radio {
    border-radius: 50%;
}
.option-input.radio::after {
    border-radius: 50%;
}
  
body label {
    display: block;
    line-height: 20px;
}

/* ***********************  */

/* Calendrier repas */
.iconPlus{
    margin-right: 1em;
}

#cf-repas{
    margin-top: 3em;
}

.sm-round{
    width: 3em !important;
    height: 3em !important;
}

.title-card{
    align-self: inherit;
    margin-left: 0.5em;
}

.table-margin{
    margin-bottom: 3em;
}

.nav-table{
    text-align: right; 
    margin-bottom: 3em;
}

.outCurentMonth{
    background-color: #343a4026 !important;
    color:unset !important;
}

/* **************** */