<% if(locals.isConnected === undefined){
  isConnected = false;
}%>
<aside class="left-sidebar" v-if = <%= isConnected %>>
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
        <ul id="sidebarnav">
          <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="icon-speedometer"></i><span class="hide-menu">Dashboard</a>
              <ul aria-expanded="false" class="collapse">
                  <li>
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><span class="hide-menu"></span>Ajouter un repas </a>
                    <ul aria-expanded="false" class="collapse">
                      <form action="/addRepas" method="post" id="formAddRepas">
                        <label>
                          <input type="checkbox" class="option-input checkbox" name="type_repas" value="vege" id="chVege"/>
                          Plat végétarien
                        </label>
                        <label>
                          <input type="checkbox" class="option-input checkbox" name="type_repas" value="viande" id="chVi"/>
                          Plat de viande
                        </label>
                        <label>
                          <input type="checkbox" class="option-input checkbox" name="type_repas" value="poisson" id="chPo"/>
                          Plat de poisson
                        </label>
                        <button type="submit"  class="btn btn-success"><i class="fas fa-check" style="margin-right: 1em;"></i>Enregistrer</button>
                      </form>
                    </ul>
                  </li>
              </ul>
          </li>
          <li> <a href="/index" aria-expanded="false" class="waves-effect"><i class="fa fa-power-off"></i><span class="hide-menu">logout</a></li>
        </ul>
      </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>