<% if(locals.isConnected === undefined){
  isConnected = false;
}%>
<aside class="left-sidebar" v-if = <%= isConnected %>>
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
        <ul id="sidebarnav">
          <li><a href="javascript:void(0)" aria-expanded="false" class="waves-effect waves-dark"><i class="icon-calender"></i><span class="hide-menu">changer de date</a>
            <ul aria-expanded="false" class="collapse">
              <div class="ui calendar" id="datePicker">
                <div class="ui input left icon">
                  <i class="calendar icon"></i>
                  <input type="text" placeholder="Date">
                </div>
              </div>
            </ul>
          </li>
          <li> <a href="/index" aria-expanded="false" class="waves-effect waves-dark"><i class="fa fa-power-off"></i><span class="hide-menu">logout</a></li>
        </ul>
      </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>