<% if(locals.isConnected === undefined){
  isConnected = false;
}%>
<aside class="left-sidebar" v-if = <%= isConnected %>>
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
        <ul id="sidebarnav">
          <li> <a href="/index" aria-expanded="false" class="waves-effect waves-dark"><i class="fa fa-power-off"></i><span class="hide-menu">logout</a></li>
        </ul>
      </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>