<div id="calendrierRepas">
    <div class="result_data_repas" style="display: none;">{{ data_r = <%= data_repas %> }}</div>
    <input type="text" v-model="data_r" style="display: none;">
    <div class="nav-table">
        <button id="dtTop" class="btn btn-outline-primary"><i class="far fa-calendar-alt"></i></button>
        <button class="btn btn-outline-primary"><i class="fas fa-chevron-left" style="margin-right: 1em;"></i> Mois Précédent</button>
        <button class="btn btn-outline-primary"> Mois Suivant<i class="fas fa-chevron-right" style="margin-left: 1em;"></i></button>    
    </div>
    
    <div class="row">
        <div class="col">
            <table id="sem1" class="table">
                <thead class="thead-dark">
                    <tr>
                        <th></th>
                        <th v-for="date in dates_w1"> {{date}}</th>
                    </tr >
                </thead>
                <tbody>
                    <tr>
                        <td>MIDI</td>
                        <td style="vertical-align: middle;" v-for="repas in repas_midi_w1" v-html="repas.type_repas"></td>
                    </tr>
                    <tr>
                        <td>SOIR</td>
                        <td style="vertical-align: middle;" v-for="repas in repas_soir_w1" v-html="repas.type_repas"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="row table-margin">
        <div class="col">
            <hr class="solid">
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <table id="sem2" class="table">
                <thead class="thead-dark">
                    <tr>
                        <th></th>
                        <th v-for="date in dates_w2"> {{date}}</th>
                    </tr >
                </thead>
                <tbody>
                    <tr>
                        <td>MIDI</td>
                        <td style="vertical-align: middle;" v-for="repas in repas_midi_w2" v-html="repas.type_repas"></td>
                    </tr>
                    <tr>
                        <td>SOIR</td>
                        <td style="vertical-align: middle;" v-for="repas in repas_soir_w2" v-html="repas.type_repas"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="row table-margin">
        <div class="col">
            <hr class="solid">
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <table id="sem3" class="table">
                <thead class="thead-dark">
                    <tr>
                        <th></th>
                        <th v-for="date in dates_w3"> {{date}}</th>
                    </tr >
                </thead>
                <tbody>
                    <tr>
                        <td>MIDI</td>
                        <td style="vertical-align: middle;" v-for="repas in repas_midi_w3" v-html="repas.type_repas"></td>
                    </tr>
                    <tr>
                        <td>SOIR</td>
                        <td style="vertical-align: middle;" v-for="repas in repas_soir_w3" v-html="repas.type_repas"></td>
                    </tr>
                </tbody>
            </table>
        </div>       
    </div>
    
    <div class="row table-margin">
        <div class="col">
            <hr class="solid">
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <table id="sem4" class="table">
                <thead class="thead-dark">
                    <tr>
                        <th></th>
                        <th v-for="date in dates_w4"> {{date}}</th>
                    </tr >
                </thead>
                <tbody>
                    <tr>
                        <td>MIDI</td>
                        <td style="vertical-align: middle;" v-for="repas in repas_midi_w4" v-html="repas.type_repas"></td>
                    </tr>
                    <tr>
                        <td>SOIR</td>
                        <td style="vertical-align: middle;" v-for="repas in repas_soir_w4" v-html="repas.type_repas"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="row table-margin">
        <div class="col">
            <hr class="solid">
        </div>
    </div>
    
    <div class="nav-table">
        <button id="dtBot" class="btn btn-outline-primary"><i class="far fa-calendar-alt"></i></button>
        <button type="submit" class="btn btn-outline-primary"><i class="fas fa-chevron-left" style="margin-right: 1em;"></i> Mois Précédent</button>
        <button type="submit" class="btn btn-outline-primary"> Mois Suivant<i class="fas fa-chevron-right" style="margin-left: 1em;"></i></button>    
    </div>
    
    <% include modals %>
</div>
