<div class="table-responsive">
    <table id="zero_config" class="table table-striped table-bordered no-wrap">
        <thead>
            <tr>
                <th></th>
                <th v-for="date in dates"> {{date}}</th>
            </tr >
        </thead>
        <tbody>
            <tr>
                <td>MIDI</td>
                <td style="vertical-align: middle;" v-for="repas in repas_midi" v-html="repas.type_repas"></td>
            </tr>
            <tr>
                <td>SOIR</td>
                <td style="vertical-align: middle;" v-for="repas in repas_soir" v-html="repas.type_repas"></td>
            </tr>
        </tbody>
    </table>
</div>

<div id="footer-calendrier" style="text-align: right;">
    <button type="submit" class="btn btn-outline-primary"><i class="fas fa-chevron-left" style="margin-right: 1em;"></i>Précédent</button>
    <button type="submit" class="btn btn-outline-primary">Suivant<i class="fas fa-chevron-right" style="margin-left: 1em;"></i></button>    
</div>

<% include modals %>