<% include header %>
    <div id="inscription" class="inscription-container">
        <h1 class="ui dividing header greenFont" style="text-align: center;"><b>Bienvenue sur The Healthy Project</b></h1>
        <div class="ui form">
            <h4 class="ui dividing header greenFont" style="text-align: center;">Formulaire d'inscription</h4>
            <div class="field">
                <label for="newPseudo" class="greenFont">Pseudo</label>
                <input id="newPseudo" v-model="pseudo" type="text" name="pseudo" placeholder="Pseudo">
            </div>
            <div class="field">
                <label for="newPass" class="greenFont">Mot de Passe</label>
                <input id="newPass" v-model="password" type="password" name="password" placeholder="Mot de Passe">
            </div>
            <div class="field">
                <label for="newPass" class="greenFont">Confirmation Mot de Passe</label>
                <input id="confirmNewPass" v-model="confirmPassword" type="password" name="confirmPassword" placeholder="Mot de Passe">
            </div>
            <button id="btn_inscription" v-on:click="sendRequestInscription" class="ui button">S'inscrire</button>         
        </div>

        <div class="inscription_notif">
            <div class="ui error message" v-if="form_success">Un ou plusieurs champs n'ont pas été remplis</div>
            <div class="ui error message" v-if="pseudo_exist">Le Pseudo saisi existe déjà!</div>
            <div class="ui error message" v-if="notSamePass" >Vous avez saisi deux mots de passe différents</div>
        </div>

    </div>
<% include footer %>
