<% include header %>
<% if(locals.data_repas === undefined) data_repas = null %>

<div id="result_data_repas" style="display: none;">{{ data_r = <%= data_repas %> }}</div>
<input type="text" v-model="data_r" style="display: none;">

<div class="container-fluid" id="cf">
    <div class="row page-titles">
        <div class="col-md-12">
            <ul class="nav customtab" role="tablist">
                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#tab_home" role="tab">
                    <span class="hidden-sm-up"><i class="ti-home"></i></span> 
                    <span class="hidden-xs-down">Home</span></a> 
                </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#tab_key_datas" role="tab">
                    <span class="hidden-sm-up"><i class="ti-user"></i></span> 
                    <span class="hidden-xs-down">Mes chiffres clés</span></a> 
                </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#tab_graphs" role="tab">
                    <span class="hidden-sm-up"><i class="ti-arrow-top-right"></i></span> 
                    <span class="hidden-xs-down">Mes graphiques</span></a>
                </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#tab_recette" role="tab">
                    <span class="hidden-sm-up"><i class="ti-bookmark-alt"></i></span> 
                    <span class="hidden-xs-down">Recettes de cuisines</span></a> 
                </li>
            </ul>
        </div>
    </div>
    
    <div class="tab-content">
        <div class="tab-pane active" id="tab_home">
            <div class="row">
                <div class="col-md-6">
                    <div class="card shadow-sm border">
                        <div class="card-body">
                            <canvas id="chartCompareRepas"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="tab_key_datas">
            <div class="table-responsive">
                <table id="zero_config" class="table table-striped table-bordered no-wrap">
                    <thead>
                        <tr>
                            <th>Heure Repas</th>
                            <th>L 16</th>
                            <th>M 17</th>
                            <th>M 18</th>
                            <th>J 19</th>
                            <th>V 20</th>
                            <th>S 21</th>
                            <th>D 22</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Midi</td>
                            <td class="addRepas"><button class="ui positive button" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus iconPlus" aria-hidden="true"></i>Ajouter un repas</button></td>
                            <td class="addRepas"><button class="ui positive button"><i class="fa fa-plus iconPlus" aria-hidden="true"></i>Ajouter un repas</button></td>
                            <td class="addRepas"><button class="ui positive button"><i class="fa fa-plus iconPlus" aria-hidden="true"></i>Ajouter un repas</button></td>
                            <td class="addRepas"><button class="ui positive button"><i class="fa fa-plus iconPlus" aria-hidden="true"></i>Ajouter un repas</button></td>
                            <td class="addRepas"><button class="ui positive button"><i class="fa fa-plus iconPlus" aria-hidden="true"></i>Ajouter un repas</button></td>
                            <td class="addRepas"><button class="ui positive button"><i class="fa fa-plus iconPlus" aria-hidden="true"></i>Ajouter un repas</button></td>
                            <td class="addRepas"><button class="ui positive button"><i class="fa fa-plus iconPlus" aria-hidden="true"></i>Ajouter un repas</button></td>
                        </tr>
                        <tr>
                            <td>Soir</td>
                            <td class="addRepas"><button class="ui positive button"><i class="fa fa-plus iconPlus" aria-hidden="true"></i>Ajouter un repas</button></td>
                            <td class="addRepas"><button class="ui positive button"><i class="fa fa-plus iconPlus" aria-hidden="true"></i>Ajouter un repas</button></td>
                            <td class="addRepas"><button class="ui positive button"><i class="fa fa-plus iconPlus" aria-hidden="true"></i>Ajouter un repas</button></td>
                            <td class="addRepas"><button class="ui positive button"><i class="fa fa-plus iconPlus" aria-hidden="true"></i>Ajouter un repas</button></td>
                            <td class="addRepas"><button class="ui positive button"><i class="fa fa-plus iconPlus" aria-hidden="true"></i>Ajouter un repas</button></td>
                            <td class="addRepas"><button class="ui positive button"><i class="fa fa-plus iconPlus" aria-hidden="true"></i>Ajouter un repas</button></td>
                            <td class="addRepas"><button class="ui positive button"><i class="fa fa-plus iconPlus" aria-hidden="true"></i>Ajouter un repas</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>

        <div class="tab-pane" id="tab_graphs">

        </div>

        <div class="tab-pane" id="tab_recette">
            <a title="fruits et légumes" href="//www.fruits-legumes.org/">Le calendrier des fruits et légumes de saison</a>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ajouter un nouveau repas</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/addRepas" method="post" id="formAddRepas">
            <div class="modal-body">
                <label>
                <input type="checkbox" class="option-input checkbox" name="type_repas" value="vege" id="chVege"/>
                Plat végétarien
                </label>
                <label>
                <input type="checkbox" class="option-input checkbox" name="type_repas" value="viande" id="chVi"/>
                Plat de viande
                </label>
                <label>
                <input type="checkbox" class="option-input checkbox" name="type_repas" value="poisson" id="chPo"/>
                Plat de poisson
                </label>
            </div>

            <div class="modal-footer">
                <button type="submit"  class="btn btn-success"><i class="fas fa-check" style="margin-right: 1em;"></i>Enregistrer</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </form>
      </div>
    </div>
</div>

<% include footer %>