<% include header %>
<% if(locals.data_repas === undefined) data_repas = {} %>


<div class="container-fluid" id="cf">
    <div class="row page-titles">
        <div class="col-md-12">
            <ul class="nav customtab" role="tablist">
                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#tab_home" role="tab">
                    <span class="hidden-sm-up"><i class="ti-home"></i></span> 
                    <span class="hidden-xs-down">Home</span></a> 
                </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#tab_addRepas" role="tab">
                    <span class="hidden-sm-up"><i class="icon-heart"></i></span> 
                    <span class="hidden-xs-down">Ajouter un repas</span></a> 
                </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#tab_graphs" role="tab">
                    <span class="hidden-sm-up"><i class="ti-arrow-top-right"></i></span> 
                    <span class="hidden-xs-down">Mes graphiques</span></a>
                </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#tab_recette" role="tab">
                    <span class="hidden-sm-up"><i class="ti-bookmark-alt"></i></span> 
                    <span class="hidden-xs-down">Recettes de cuisines</span></a> 
                </li>
            </ul>
        </div>
    </div>
    
    <div class="tab-content">
        <div class="tab-pane active" id="tab_home">
            <div id="charts">
                <div id="result_data_repas_pw" style="display: none;">{{ data_rep = <%= data_repas %> }}</div>
                <input type="text" v-model="data_rep" style="display: none;">
            </div>            
            <div class="row">
                <div class="col-md-6">
                    <div class="card shadow-sm border">
                        <div class="card-body">
                            <canvas id="chartCompareRepas"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="tab_addRepas">
            <% include calendrier_repas %>
        </div>

        <div class="tab-pane" id="tab_graphs">

        </div>

        <div class="tab-pane" id="tab_recette">
            <a title="fruits et légumes" href="//www.fruits-legumes.org/">Le calendrier des fruits et légumes de saison</a>
        </div>
    </div>

</div>

<% include footer %>